# Splitting the Region Data

## Libraries

In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import convertbng

## Options

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>")) 

pd.options.display.max_rows = 30
pd.options.display.max_columns = 40

%matplotlib inline

## Variables

In [3]:
path = '/Users/tomewing/dft-app/js/data/'

## Importing the data

In [4]:
df_rg_raw = gpd.read_file(path + 'uk-regions.json')

In [5]:
df_rg_raw

,AREA,AREA_CODE,CODE,DESCRIPT0,DESCRIPT1,DESCRIPTIO,FILE_NAME,HECTARES,NAME,NUMBER,NUMBER0,POLYGON_ID,TYPE_COD0,TYPE_CODE,UNIT_ID,geometry
0,115.627,CTY,20,CIVIL ADMINISTRATION AREA,None,GOS Region,North_East,223273.815,North East,17,685,42353,None,AA,2544,"POLYGON ((478308.8 518913, 477996.9000000002 5..."
1,40345.973,CTY,16,CIVIL ADMINISTRATION AREA,None,GOS Region,North_West,718202.829,North West,27,1067,121915,None,AA,13244,"POLYGON ((356931.9 586589.1, 356952.7 586535.9..."
2,2119.015,GLA,999999,CIVIL ADMINISTRATION AREA,None,GOS Region,GREATER_LONDON_AUTHORITY,159471.727,Greater London Authority,40,1460,117537,None,AA,41441,"POLYGON ((504016.5 176790.7, 504267.3 177498.3..."
3,0.000,CTY,39,CIVIL ADMINISTRATION AREA,None,GOS Region,West_Midlands,319730.358,West Midlands,27,710,59646,None,AA,9562,"POLYGON ((402988.2000732424 368519.7000732422,..."
4,1297.376,CTY,36,CIVIL ADMINISTRATION AREA,None,GOS Region,Yorkshire_and_The_Humber,805319.256,Yorkshire and The Humber,14,1951,60802,None,AA,22028,"POLYGON ((406087.2 404640.1, 399470.9 413357.7..."
5,3126.290,CTY,19,CIVIL ADMINISTRATION AREA,None,GOS Region,South_West,257293.989,South West,12,884,122188,None,AA,14362,"POLYGON ((416611.4000854493 245330.9000854492,..."
6,0.000,CTY,17,CIVIL ADMINISTRATION AREA,None,GOS Region,East_Midlands,255071.010,East Midlands,13,1046,52650,None,AA,13688,"POLYGON ((549787.0001220703 330874.1000976562,..."
7,0.000,CTY,11,CIVIL ADMINISTRATION AREA,None,GOS Region,South_East,156493.981,South East,14,652,51776,None,AA,11901,"(POLYGON ((448665.5 96653.80000000002, 455685 ..."
8,0.000,CTY,09,CIVIL ADMINISTRATION AREA,None,GOS Region,East_of_England,119207.686,East of England,17,479,40935,None,AA,1158,"POLYGON ((576663.6 181305.7, 573127.5 180750.7..."

## Splitting into separate JSON files for each region

In [6]:
df_rg = df_rg_raw
regions = df_rg['FILE_NAME'].tolist()

df_list = []

for region in regions:
    df = df_rg[(df_rg['FILE_NAME'] == region)]
    with open(path + region + '.json', 'w') as f:
        f.write(df.to_json())